.n-docs-header {
	@include size($type: margin, $side: bottom, $size: $whitespace-large);

	.n-docs-icon {
		width: 32px;
		height: 32px;
		path {
			fill: $header-text-color;
		}
	}
}
.n-docs-header__canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
}
